header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem;
  margin: 0;
  .logo {
    h1 {
      color: #0000dd;
      font-weight: normal;
      margin: 0;
      span {
        color: #000;
        font-size: 1rem;
        font-weight: normal;
      }
    }
    p {
      a {
        text-decoration: none;
      }
    }
  }
  .validation {
    .ul {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      list-style: none;
      gap: 20px;
      li {
        cursor: pointer;
        margin: 0;
        color: #0000dd;
        &:not(:first-child) {
          padding-left: 1rem;
          border-left: 1px solid #0000dd;
        }
      }
    }
    form {
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid grey;
      margin-left: 1rem;
      width: max-content;
      height: max-content;

      label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        input {
          margin-left: 1rem;
        }
      }
      ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        list-style: none;
        li {
          margin: 0.5rem;
          color: #5539bb;
          cursor: pointer;
          &:nth-child(2) {
            border-left: 1px solid #0000dd;
            padding-left: 1rem;
          }
        }
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
